@import "./fonts.scss";

// Sizes
$desktopWidth: 1366px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 360px;

// Fonts
$gilroy: "Gilroy", sans-serif;
$galien: "Galien", sans-serif;
$mainFontColor: #1F3F68;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.62;

// Colors
$blue01: #1F3F68;
$blue02: #316099;
$blue03: #356EAD;
$blue04: #5A98D0;
$white: #FFFFFF;