.modal-wrapper {
    width: 100vw;
    height: 100%;
    position: fixed;
    right: 0; left: 0; top: 0; right: 0;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.15);

    transition:
        transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
        opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);

    &_visible {
        visibility: visible;
    }

    .modal {
        padding: 56px;
        max-width: 540px;
        background-color: #fff;
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        position: relative;

        &__form-sent {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 150px;
            height: 100px;
            width: 250px;
            text-align: center;
            display: flex;
            align-items: center;
            background-color: #fff;
            padding: 10px;
            color: green;
            border: 1px solid $blue01;
            border-radius: 10px;
            visibility: hidden;

            &_visible {
                visibility: visible;
            }
        }

        &__close {
            font-size: 20;
            color: $blue01;
            position: absolute;
            right: 30px;
            top: 30px;
            cursor: pointer;
        }

        &__title {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.04em;
            color: $blue01;
            margin-bottom: 48px;
            text-transform: uppercase;
        }

        .modal-form {
            display: flex;
            flex-direction: column;

            &__error {
                color: rgb(173, 42, 42);
                font-size: 12px;
                margin-bottom: 5px;

                &_hidden {
                    display: none;
                }
            }
    
            &__label {
                line-height: 30px;
                letter-spacing: 0.04em;
                color: $blue01;
                opacity: 0.8;
            }
    
            &__input {
                width: 100%;
                height: 72px;
                border: 1px solid #356EAD;
                border-radius: 10px;
                color: $blue01;
                opacity: 0.2;
                margin-bottom: 32px;
                padding-left: 36px;
                padding-right: 36px;
            }

            &__textarea {
                border: 1px solid #356ead;
                opacity: 0.2;
                border-radius: 10px;
                width: 100%;
                height: 144px;
                margin-bottom: 72px;
                padding-top: 10px;
                padding-left: 36px;
                padding-right: 36px;
            }
        }
    }
}

@media screen and (max-width: $tableWidth) {
    .modal-wrapper {
        width: 100vw;
        height: 100vh;
        
        .modal {
            width: 90%;
            border-radius: 0;
            padding: 20px 20px;

            &__close {
                top: 30px;
                right: 30px;
            }

            .modal-form {
                &__input,
                &__textarea {
                    height: 64px;
                }
            }
        }
    }
}

@media screen and (max-width: $phoneWidth) {
    .modal-wrapper {
        .modal {
            width: 80vw;

            .modal-form {
                &__input,
                &__textarea {
                    padding-left: 10px;
                    height: 40px;
                    margin-bottom: 10px;
                    padding-top: 0;
                }


            }
        }
    }
}