@import "./utils/fonts.scss";
@import "./utils/reset.scss";
@import "./utils/vars.scss";

@import "../components/header/header.scss";
@import "../blocks/button/button.scss";
@import "../components/intro/intro.scss";
@import "../components/clients/clients.scss";

body {
    font-size: 16px;
    font-family: $gilroy;
    letter-spacing: 0.05em;
}

h1 {
    font-family: $galien;
    font-size: 4rem;
    color: $blue01;
    letter-spacing: 0.04em;
    line-height: 4.625rem;;
}

h2 {
    font-size: 2.25rem;
    line-height: 2.875rem;
    color: $blue02;
}

h3 {
    font-size: 1.25rem;   
    line-height: 1.875rem;
}

p {
    font-size: 1rem;
    line-height: 1.625rem;
    color: $blue01;
    opacity: 0.6;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 0;
    padding: 0 0;
  }

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}